/* Color Pallete */
:root {
    --blue: #31C6D4;
    --teal: #00FFD1; 
    --yellow: #FFFF00;
    --red: #FF1E1E;
}

/* Introduction */
.i{
    display: flex;
    min-height: 100vh;
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-left-wrapper{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
}
.i-title{
    height: 50px;
    overflow: hidden;
    font-weight: bold;
}
.i-title-item{
    height: 50px;
    font-size: 30px;
    color: var(--blue);
    display: flex;
    align-items: center;
}
.i-title-wrapper{
    height: 100%;
    animation: move 6s ease-in-out infinite alternate;
}
.i-desc{
    text-align: justify;
}
@keyframes move {
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}
.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.i-bg{
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: var(--blue);
    position: absolute;
    top: 0;
    right: 0;
}
.i-cta{
    margin: 20px 0px;
    width: 50%;
    height: 50px;
    background: var(--blue);
    color: white;
    border: 1px solid var(--blue);
    font-size: 25px;
    font-weight: 200;
    cursor: pointer;
}
.i-cta:hover{
    background-color: white;
    color: var(--blue);
    box-shadow: 10px 10px 0px var(--blue);
}

/* Work */
.w{
    padding: 50px;
}
.w-title{
    font-size: 60px;
    margin: 30px 0px;
}

.w-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.w-list-item{
    width: 300px;
    height: 300px;
    border: 1px solid lightgray;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    cursor: pointer;
}
.w-list-item-taskbar{
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    position: sticky;
    z-index: 2;
    background-color: lightgray;
}
.circle-red{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: var(--red);
}
.circle-yellow{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: var(--yellow);
}
.circle-green{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: var(--teal);
}
.w-list-item-addressbar{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 0px 5px;
    position: sticky;
    z-index: 2;
    background: white;
}
.addressbar-title{
    font-size: 12px;
    border: 0.5px solid black;
    border-radius: 6px;
    padding: 0px 12px;
    color: black;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
}
.addressbar-close{
    background: lightgray;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2.5px;
}

.w-image{
    width: 100%;
    transition: all 10s ease;
}

.w-list-item:hover .w-image{
    transform: translateY(-100%);
}

.contact{
    padding: 50px;
    height: 100vh;
}

.c{
    height: 80%;
    display: flex;
    align-items: center;
}

.c-left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.c-right{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#c-message{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 10px;
}

.c-name{
    display: flex;
    gap: 16px;

}

#name, #email{
    border: none;
    border-bottom: 1px solid lightgray;
    width: auto;
    font-size: 24px;
}

.c-email{
    display: flex;
    gap: 16px;
}

.c-message textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 24px;
}

.c-name h1, .c-message h1, .c-email h1, .c-hello{
    font-size: 30px;
    font-weight: 200;
}

.c-send{
    align-self: flex-end;
}

.c-send-button{
    background: transparent;
    font-size: 30px;
    border: none;
    font-weight: 200;
    color: var(--blue);
    cursor: pointer;
    border: 1px solid var(--blue);
    padding: 0 12px;
    margin: 16px 8px;
}

.c-send-button:hover{
    background-color: var(--blue);
    color: white;
    box-shadow: 5px 5px white,
        5px 5px 0px 1px var(--blue);
}

.c-text{
    font-size: 60px;
    font-weight: 800;
    text-align: end;
    margin-bottom: 48px;
}

.s-text{
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: var(--yellow);
    margin-bottom: 48px;
}

.c-icons{
    width: 60px;
    height: 60px;
}

.c-social-icons{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#name-error, #email-error, #message-error{
    display: none;
    color: var(--red);
}
.s{
    background-color: var(--blue);
    padding: 50px;
}
.s-icons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.s-icon img{
    width: 100px;
    height: 100px;
    padding: 12px;
}

@media screen and (max-width: 480px) {
    .i{
        flex-direction: column;
        height: auto;
    }
    .i-name{
        font-size: 50px;
        line-height: 1;
        padding: 25px 0px;
    }
    .i-left{
        position: relative;
        min-height: 50vh;
    }
    .i-right{
        position: relative;
        min-height: 60vh;

    }
    .i-bg{
        width: 100%;
        height: 100%;
        background-color: var(--blue);
        clip-path: none;
    }
    .i-title-item{
        font-size: 25px;
    }
    .i-cta{
        width: 100%;
    }
    .w-title{
        line-height: 1;
    }
    .w-list-item{
        height: 200px;
    }
    .c{
        flex-direction: column;
        height: auto;
    }
    .c-left{
        padding: 24px 0px;
        order: 2;
    }
    .c-right{
        order: 1;
    }
    .c-text{
        font-size: 40px;
        text-align: end;
        margin-bottom: 48px;
    }
    .w-title{
        font-size: 40px;
        margin-bottom: 48px;
    }
    .s-text{
        font-size: 40px;
        margin-bottom: 48px;
    }
    .c-social-icons{
        display: flex;
        flex-direction: row;
    }
    .c-social-icons li{
        padding: 12px;
    }
    .c-name{
        flex-direction: column;
    }
    .c-name h1, .c-message h1, .c-email h1, .c-hello{
        font-size: 16px;
    }
    .c-send-button{
        font-size: 16px;
        font-weight: 500;
        border: 1px solid var(--blue);
        margin: 24px 0 0 12px;
        padding: 6px 12px;
    }
    .c-email{
        flex-direction: column;
    }
    .c-icons{
        width: 40px;
        height: 40px;
    }
    #name, #email{
        font-size: 15px;
        width: 80%;
    }
    #message{
        font-size: 15px;
    }

    .s-icon img{
        width: 75px;
        height: 75px;
        padding: 12px;
    }
}
